## How to extract information from excel with Python and Pandas

source

http://blog.softhints.com/excel-export-results-read-excel-python-pandas/

requirements:

```
pip install xlrd
pip install pandas
```

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199

## Read excel file with python/pandas

In [3]:
# read the file
xls = pd.ExcelFile('~/Documents/example.xlsx')

In [4]:
# get all sheet names
sheet_names = xls.sheet_names
sheet_names

['People', 'Events', 'Countries']

In [7]:
# get infomration only for one sheet
df = pd.read_excel(xls, "Events")
df.head(10)

,#,Event,Date,Venue,Location,Attendance,Ref.
0,465,UFC Fight Night: Assunção vs. Moraes 2,"Feb 2, 2019",Centro de Formação Olímpica do Nordeste,"Fortaleza, Brazil",10040,[21]
1,–,UFC 233,"Jan 26, 2019",Honda Center,"Anaheim, California, U.S.",Cancelled,[22]
2,464,UFC Fight Night: Cejudo vs. Dillashaw,"Jan 19, 2019",Barclays Center,"Brooklyn, New York, U.S.",12152,[23]
3,463,UFC 232: Jones vs. Gustafsson 2,"Dec 29, 2018",The Forum,"Inglewood, California, U.S.",15862,[24]
4,462,UFC on Fox: Lee vs. Iaquinta 2,"Dec 15, 2018",Fiserv Forum,"Milwaukee, Wisconsin, U.S.",9010,[25]
5,461,UFC 231: Holloway vs. Ortega,"Dec 8, 2018",Scotiabank Arena,"Toronto, Ontario, Canada",19039,[26]
6,460,UFC Fight Night: dos Santos vs. Tuivasa,"Dec 2, 2018",Adelaide Entertainment Centre,"Adelaide, Australia",8652,[27]
7,459,The Ultimate Fighter: Heavy Hitters Finale,"Nov 30, 2018",Pearl Theatre,"Las Vegas, Nevada, U.S.",2020,[28]
8,458,UFC Fight Night: Blaydes vs. Ngannou 2,"Nov 24, 2018",Cadillac Arena,"Beijing, China",10302,[29]
9,457,UFC Fight Night: Magny vs. Ponzinibbio,"Nov 17, 2018",Estadio Mary Terán de Weiss,"Buenos Aires, Argentina",10245,[30]

## Working with many sheets

In [8]:
# read all sheets and extract first 5 rows, 3 columns
for tab in sheet_names:
    print('##################################  ' + tab + '   ##################################')
    df = pd.read_excel(xls, tab)
    print(df.iloc[:5, :3])

##################################  People   ##################################
   OrderDate  Country   Region
0  1/6/2018   US       East
1  1/23/2018  Brazil   Central
2  2/9/2018   Congo    Central
3  2/26/2018  Japan    Central
4  3/15/2018  Germany  West
##################################  Events   ##################################
     #                                   Event          Date
0  465  UFC Fight Night: Assunção vs. Moraes 2  Feb 2, 2019
1  –    UFC 233                                 Jan 26, 2019
2  464  UFC Fight Night: Cejudo vs. Dillashaw   Jan 19, 2019
3  463  UFC 232: Jones vs. Gustafsson 2         Dec 29, 2018
4  462  UFC on Fox: Lee vs. Iaquinta 2          Dec 15, 2018
##################################  Countries   ##################################
   0  Rank       Country
0  1  1.0   Russia*
1  2  2.0   China*
2  3  3.0   India
3  4  4.0   Kazakhstan*
4  5  5.0   Saudi Arabia

## Search one sheet, one column for a string

In [9]:
df = pd.read_excel(xls, "Countries")
df.head(10)

,0,Rank,Country,Area (km²),Notes,NaN
0,1,1.0,Russia*,13100000,"17,125,200 including European part",NaN
1,2,2.0,China*,9596961,"excludes Hong Kong, Macau, Taiwan and disputed...",NaN
2,3,3.0,India,3287263,NaN,NaN
3,4,4.0,Kazakhstan*,2455034,"2,724,902 km² including European part",NaN
4,5,5.0,Saudi Arabia,2149690,NaN,NaN
5,6,6.0,Iran,1648195,NaN,NaN
6,7,7.0,Mongolia,1564110,NaN,NaN
7,8,8.0,Indonesia*,1472639,"1,904,569 km² including Oceanian part",NaN
8,9,9.0,Pakistan,796095,"882,363 km² including Gilgit-Baltistan and AJK",NaN
9,10,10.0,Turkey*,747272,"783,562 km² including European part",NaN

In [12]:
agg = df[df['Country'].str.contains('China', na=False)]
agg

,0,Rank,Country,Area (km²),Notes,NaN
1,2,2.0,China*,9596961,"excludes Hong Kong, Macau, Taiwan and disputed...",NaN

## Search in all sheets for a string

In [13]:
# search in every sheet in column Country for word 'Japan'
# print out message if the column is missing
for tab in sheet_names:
    print('##################################  ' + tab + '   ##################################')
    df = pd.read_excel(xls, tab)
    try:
        agg = df[df['Country'].str.contains('Japan', na=False)]
        print(agg[['Country']])
    except KeyError:
        print(' no column Country ')

##################################  People   ##################################
   Country
3   Japan
6   Japan
18  Japan
26  Japan
30  Japan
##################################  Events   ##################################
 no column Country
##################################  Countries   ##################################
   Country
17  Japan

In [15]:
# search for a partial match
for tab in sheet_names:
    print('##################################  ' + tab + '   ##################################')
    df = pd.read_excel(xls, tab)
    try:
        agg = df[df['Country'].str.contains('China', na=False)]
        print(agg[['Country']])
    except KeyError:
        print(' no tab Country ')

##################################  People   ##################################
   Country
14  China
16  China
22  China
32  China
33  China
##################################  Events   ##################################
 no tab Country
##################################  Countries   ##################################
  Country
1  China*

In [14]:
# search for a exact match
for tab in sheet_names:
    print('##################################  ' + tab + '   ##################################')
    df = pd.read_excel(xls, tab)
    try:
        agg = df[df['Country'] == 'China']
        print(agg[['Country']])
    except KeyError:
        print(' no tab Country ')

##################################  People   ##################################
   Country
14  China
16  China
22  China
32  China
33  China
##################################  Events   ##################################
 no tab Country
##################################  Countries   ##################################
Empty DataFrame
Columns: [Country]
Index: []